<style></style>

{% for block in section.blocks %}
  {% if block.settings.body_text %}
    <div class="">{{ block.settings.body_text | upcase }}</div>
  {% endif %}
{% endfor %}
{% schema %}
{
  "name": "Announcement bar",
  "settings": [],
  "limit": 1,
  "max_blocks": 5,
  "blocks": [
    {
      "type": "announcement",
      "name": "announcement",
      "settings": [
        {
          "type": "text",
          "id": "body_text",
          "label": "Announcement Text",
          "default": "Free shipping Over $100"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Announcement"
    }
  ],
  "templates": ["index", "page"]
}
{% endschema %}
